{% extends 'backoffice/base_admin.html.twig' %}
{% block javascripts %}
    {{ encore_entry_script_tags('ckeditor') }}
{% endblock %}

{% block body %}
    <div class="col-md-6 grid-margin stretch-card">
        {% if job.company is not empty %}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Informations de l'entreprise</h4>
                    <form>
                        <div class="form-group">
                            <label for="company_name" >Nom de l'entreprise</label>
                            <input type="text" value="{{ job.company.name }}" name="username" readonly class="form-control" id="company_name">
                        </div>
						<div class="form-group">
							<label for="entrepriseDescription" >Description</label>
							<textarea name="description" id="entrepriseDescription" readonly class="form-control">
                                {{ job.company.description }}
                            </textarea>
						</div>
                        <div class="form-group">
                            <label for="lastname">NIF</label>
                            <input type="text" id="lastname" class="form-control" name="lastname" readonly value="{{ job.company.nif }}">
                        </div>
                        <div class="form-group">
                            <label for="firstname">STAF</label>
                            <input type="text" id="firstname" class="form-control" name="firstname" readonly value="{{ job.company.stat }}">
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Details du poste</h4>
                <form>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">Poste</label>
                        <div class="col-sm-9">
                            <input type="email" id="email" name="job_name"  readonly class="form-control" value="{{ job.title }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="editor" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <textarea name="description" id="editor" readonly class="form-control">
                                {{ job.description }}
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="linkedin" class="col-sm-3 col-form-label">Salaire</label>
                        <div class="col-sm-9">
                            <input type="text" id="linkedin" name="contact[linkedin]" readonly class="form-control"  value="{{ job.salary }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="linkedin" class="col-sm-3 col-form-label">Type de contract</label>
                        <div class="col-sm-9">
                            <input type="text" id="linkedin" name="contact[linkedin]" readonly class="form-control"  value="{{ job.contract }}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
	<div class="col-md-6 grid-margin stretch-card">
		{% if job.company is not empty %}
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Informations de l'entreprise</h4>
					<form>
						<div class="form-group">
							<label for="company_name">Nom de l'entreprise</label>
							<input type="text" value="{{ job.company.name }}" name="username" readonly class="form-control" id="company_name">
						</div>
						<div class="form-group">
							<label for="lastname">NIF</label>
							<input type="text" id="lastname" class="form-control" name="lastname" readonly value="{{ job.company.nif }}">
						</div>
						<div class="form-group">
							<label for="firstname">STAF</label>
							<input type="text" id="firstname" class="form-control" name="firstname" readonly value="{{ job.company.stat }}">
						</div>
					</form>
				</div>
			</div>
		{% endif %}
	</div>
	<div class="col-md-6 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Details du poste</h4>
				<form>
					<div class="form-group row">
						<label for="email" class="col-sm-3 col-form-label">Poste</label>
						<div class="col-sm-9">
							<input type="email" id="email" name="job_name" readonly class="form-control" value="{{ job.title }}">
						</div>
					</div>
					<div class="form-group row">
						<label for="jobDescription" class="col-sm-3 col-form-label">Description</label>
						<div class="col-sm-9">
							<textarea type="tel" id="jobDescription" name="contact[phones][]" readonly class="form-control">
								{{ job.description }}
							</textarea>
						</div>
					</div>
					<div class="form-group row">
						<label for="email" class="col-sm-3 col-form-label">Catégorie</label>
						<div class="col-sm-9">
							<input type="text" id="category" name="job_category" readonly class="form-control" value="{{ jobCategory }}">
						</div>
					</div>
					<div class="form-group row">
						<label for="linkedin" class="col-sm-3 col-form-label">Salaire</label>
						<div class="col-sm-9">
							<input type="text" id="linkedin" name="contact[linkedin]" readonly class="form-control" value="{{ job.salary }}">
						</div>
					</div>
					<div class="form-group row">
						<label for="linkedin" class="col-sm-3 col-form-label">Type d'emploi</label>
						<div class="col-sm-9">
							<input type="text" id="work_type" name="work_type" readonly class="form-control" value="{{ workType }}">
						</div>
					</div>
					<div class="form-group row">
						<label for="linkedin" class="col-sm-3 col-form-label">Type de contract</label>
						<div class="col-sm-9">
							<input type="text" id="linkedin" name="contact[linkedin]" readonly class="form-control" value="{{ jobType }}">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title text-capitalize">Liste des candidatures du poste</h4>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Date de création</th>
								<th>Nom de l'utilisateur</th>
								<th>Prénom</th>
								<th>Email</th>
								<th>Motivation</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							{% for application in job.jobApplications %}
								<tr>
									<td>{{ application.createdAt|date('d-m-Y') }}</td>
									<td>{{ application.candidat.lastname }}</td>
									<td>{{ application.candidat.username }}</td>
									<td>{{ application.candidat.contact ? application.candidat.contact.email : '' }}</td>
									<td>{{ application.motivation ? application.motivation : '' }}</td>
									<td>
										{% if application.cv %}
											<a href="{{ asset('media/'~application.cv.filePath) }}" download="">Télécharger le CV de l'utilisateur</a>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
