{% extends 'backoffice/base_admin.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Les des emplois</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date de création</th>
                        <th>Poste</th>
                        <th>Nom de l'entreprise</th>
                        <th>Créateur</th>
                        <th>Actif</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for job in paginator.items %}
                        <tr>
                            <td>{{ job.createdAt ? job.createdAt|date('d-m-Y') : '' }}</td>
                            <td>{{ job.title }}</td>
                            <td>{{ job.company ? job.company.name : '' }}</td>
                            <td>{{ job.createdBy ? job.createdBy.username : '' }}</td>
                            <td>
                                <a href="{{ path('admin_job_update_statut', {id: job.id}) }}" class="btn btn-sm badge-{{ job.isEnabled ? 'success' : 'warning' }}">{{ job.isEnabled ? 'OUI' : 'NON' }}</a>
                            </td>
                            <td><a href="{{ path('admin_job_details', {id:job.id}) }}" class="btn btn-sm badge-warning">Details</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'backoffice/template/_paginator.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}