{% extends 'backoffice/base_admin.html.twig' %}

{% block body %}
    <div class="col-sm-12">
        <div class="home-tab">
            <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab"
                           href="#overview" role="tab"
                           aria-controls="overview" aria-selected="true">Asera Overview</a>
                    </li>
                </ul>
                <div>
                    {# <div class="btn-wrapper">
                        <a href="#" class="btn btn-otline-dark align-items-center"><i
                                    class="icon-share"></i> Share</a>
                        <a href="#" class="btn btn-otline-dark"><i class="icon-printer"></i> Print</a>
                        <a href="#" class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</a>
                    </div> #}
                </div>
            </div>
            <div class="tab-content tab-content-basic">
                <div class="tab-pane fade show active" id="overview" role="tabpanel"
                     aria-labelledby="overview">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="statistics-details d-flex align-items-center justify-content-between">
                                <div>
                                    <p class="statistics-title">Nombre utilisateur(s)</p>
                                    <h3 class="rate-percentage">{{ users_count|default(0) }}</h3>
                                    <p class="text-{{ users_percent > 60 ? 'success' : (users_percent > 40 ? 'warning' : 'danger') }} d-flex"><i
                                                class="mdi mdi-menu-{{ users_percent > 60 ? 'up' : (users_percent > 40 ? 'right' : 'down') }}"></i><span>{{ users_percent }}%</span></p>
                                </div>
                                <div>
                                    <p class="statistics-title">Nombre des poste(s) en cours</p>
                                    <h3 class="rate-percentage">{{ jobs_count|default(0) }}</h3>
                                    <p class="text-{{ jobs_percent > 60 ? 'success' : (jobs_percent > 40 ? 'warning' : 'danger') }} d-flex">
                                        <i class="mdi mdi-menu-{{ jobs_percent > 60 ? 'up' : (jobs_percent > 40 ? 'right' : 'down') }}"></i>
                                        <span>{{ jobs_percent }}%</span>
                                    </p>
                                </div>
                                <div>
                                    <p class="statistics-title">Nombre entreprise(s)</p>
                                    <h3 class="rate-percentage">{{ companies_count }}</h3>
                                    <p class="text-{{ companies_percent > 60 ? 'success' : (companies_percent > 40 ? 'warning' : 'danger') }} d-flex">
                                        <i class="mdi mdi-menu-{{ companies_percent > 60 ? 'up' : (companies_percent > 40 ? 'right' : 'down') }}"></i>
                                        <span>{{ companies_percent }}%</span>
                                    </p>
                                </div>
                                <div>
                                    <p class="statistics-title">Asera boards</p>
                                    <h3 class="rate-percentage">{{ boards_count }}</h3>
                                    <p class="text-success d-flex">
                                        <i class="mdi mdi-menu-right"></i>
                                        <span>{{ boards_percent }}%</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}