{% extends 'backoffice/base_admin.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Les utilisateurs</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date de création</th>
                            <th>Nom d'utilisateur</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Actif</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in paginator.items %}
                        <tr>
                            <td>{{ user.createdAt ? user.createdAt|date('d-m-Y') : '' }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.contact ? user.contact.email : '' }}</td>
                            <td>
                                <a href="{{ path('admin_user_statut', {id: user.id}) }}" class="btn btn-sm badge-{{ user.isEnabled ? 'success' : 'warning' }}">{{ user.isEnabled ? 'OUI' : 'NON' }}</a>
                            </td>
                            <td>
                                <a href="{{ path('admin_user_details', {id: user.id}) }}" class="btn btn-sm badge badge-warning">Details</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include 'backoffice/template/_paginator.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}