{% extends 'backoffice/base_admin.html.twig' %}

{% block body %}
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Informations de l'utilisateur</h4>
                <form method="post" class="forms-sample" {% if allowUpdate %}action="{{ path('admin_user_update', {id: app.user.id}) }}"{% endif %}>
                    <div class="form-group">
                        <label for="username">Nom d'utilisateur</label>
                        <input type="text" value="{{ user.username }}" name="username"  {% if not allowUpdate %} readonly {% endif%} class="form-control" id="username">
                    </div>
                    <div class="form-group">
                        <label for="lastname">Nom</label>
                        <input type="text" id="lastname" class="form-control" name="lastname"  {% if not allowUpdate %} readonly {% endif%} value="{{ user.lastname }}">
                    </div>
                    <div class="form-group">
                        <label for="firstname">Prénom</label>
                        <input type="text" id="firstname" class="form-control" name="firstname"  {% if not allowUpdate %} readonly {% endif%} value="{{ user.firstname }}">
                    </div>
                    {% if allowUpdate %}
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Contact</h4>
                <form method="post" class="forms-sample" {% if allowUpdate %}action="{{ path('admin_user_update', {id: app.user.id}) }}"{% endif %}>
                    <div class="form-group row">
                        <label for="email" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" id="email" name="contact[email]"  {% if not allowUpdate %} readonly {% endif%} class="form-control" value="{{ user.contact ? user.contact.email : '' }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phoneNumber" class="col-sm-3 col-form-label">Téléphone</label>
                        <div class="col-sm-9">
                            <input type="tel" id="phoneNumber" name="contact[phones][]"  {% if not allowUpdate %} readonly {% endif%} class="form-control" value="{{ user.contact ? user.contact.phones|join(',') }}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="linkedin" class="col-sm-3 col-form-label">LinkedIn</label>
                        <div class="col-sm-9">
                            <input type="text" id="linkedin" name="contact[linkedin]" {% if not allowUpdate %} readonly {% endif%} class="form-control"  value="{{ user.contact ? user.contact.linkedin : ''}}">
                        </div>
                    </div>
                    {% if allowUpdate %}
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    {% if user.media is not empty %}
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Fichiers de l'utilisateur</h4>
                    <form class="forms-sample">
                        {% if user.media.cv %}
                            <div class="form-group">
                                <label for="exampleInputUsername1">CV : </label>
                                <a href="{{ asset('media/'~user.media.cv.filePath) }}" download="">Télécharger le CV de l'utilisateur</a>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}